
@media screen and (max-width: 768px) {
    #menu > ul {
        gap: 20px;
    }

    #habilidades {
        flex-direction: column;
        gap: 40px;
    }

    .imagem {
        width: 150px;
        height: 350px;
    }

     #projetos {
        height: auto;
        padding: 30px;
    }

    .big-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {

    #menu {
        height: 130px;
    }

    #menu > ul {    
        gap: 10px;
        padding: 20px;
        flex-wrap:wrap;
    }

    section > h1 {
        font-size: 28px;
    }

    section > p {
        font-size: 18px;
    }

    #inicio > div {
        width: 95%;
        height: 200px;
    }

    .imagem {
        width: 150px;
        height: 350px;
    }

    #projetos {
        flex-wrap: wrap;
        height: auto;
        padding: 30px;
    }
    .big-container{
        flex-direction: column;
    }

    .container {
        width: 315px;
    }

    .pesquisar-projeto {
        width: 315px;
    }

}